@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,900&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Noto Sans JP';
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}

.center-text {
  text-align: center;
}

#left-hidden {
  display: block;
  position: fixed;
  z-index: 9990;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  background-color: #d9d9d988;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}


nav {
  position: fixed;
  display: flex;
  z-index: 9996;
  height: 100vh;
  width: 75px;
  padding: 15px;
}

#menu-btn {
  position: relative;
  z-index: 9996;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #d9d9d988;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

#menu-btn svg {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  fill: #4b7ab1;
}

p {
  font-size: 25px;
}

#menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 9995;
  transition: left ease-in-out 1s;
  padding: 5vh 5vw;
  background-color: #fff9;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
}

#menu-links h1 a {
  position: relative;
  font-size: 35px;
  font-weight: 500;
}

#menu-links h1 a::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  background-color: #000;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

#menu-links h1 a:hover {
  color: #fff;
}

#menu-links h1 a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}


#menu-links {
  height: 100%;
}

#menu-bottom {
  display: flex;
  min-height: 150px;
}

#menu-bottom #menu-logo {
  display: inline-block;
  height: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  background-image: url('/image/logo.svg');
  background-size: contain;
}

#menu-bottom h1 {
  font-size: 50px;
}

#menu-bottom small {
  font-size: 20px;
}

.menu #menu {
  left: 0;
}

#copyright {
  display: block;
  position: relative;
  z-index: 9999;
}
