body::before {
  background-image: url('/img/top.jpeg');
}

#top {
  position: relative;
  overflow: hidden;
  /*margin: 50px;*/
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 15;
  padding: 15px 20px;
  box-shadow: 0 0 100px #0001;
}
#top-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  mix-blend-mode: difference;
  text-align: center;
}

#about, #activities, #request {
  margin: 50px auto;
  padding: 5px 10px;
  max-width: 1000px;
}
:is(#about, #activities, #request) :is(h1, h2,  p) {
  color: #fff;
  text-shadow: 0 0 15px #000;
  text-align: justify;
}
#about span {
  display: flex;
  color: #fff;
}
#about > span {
  display: grid;
  margin-top: 15px;
}
#about > span > span {
  display: flex;
  background-color: #fff6;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
  box-shadow: 0 0 10px #0005;
}
#about > span > span > iframe {
  display: block;
  aspect-ratio: 16/9;
}
#about > span > span > p {
  padding-left: 10px;
  color: #000;
  text-shadow: none;
}
#about > span > span > p * {
  display: block;
  text-shadow: none;
}

#activities .flex {
  display: flex;
}
#activities .flex > * {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 45%;
  height: 400px;
}
#activities .flex > div > * {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}
#activities .flex .taller {
  height: 100%;
}
#activities .flex .shorter {
  height: 50%;
}
#activities .flex p {
  margin: 2px;
  padding: 70px 0;
  font-size: 30px;
  text-align: center;
  background-color: #fff;
  color: #000;
  width: calc(100% - 4px);
  text-shadow: none;
  box-sizing: border-box;
}
#activities a {
  color: #4B7AB1;
}

#request a {
  color: #000;
  background-color: #fff;
  text-shadow: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 3px;
  box-shadow: 0 0 15px #0005;
}

@media (max-width: 560px) {
  #about > span > span {
    flex-direction: column;
  }
  #about > span > span > p {
    padding-left: 0;
    padding-top: 5px;
  }
  #activities .flex {
    display: block;
  }
}
