body::after {
  content: '';
  position: fixed;
  display: block;
  left: -7vmin;
  bottom: -7vmin;
  z-index: -1;
  width: 30vmin;
  height: 30vmin;
  background-image: url('/image/logo.svg');
  background-size: contain;
}

.content {
  display: flex;
  height: 100vh;
}

.content > * {
  position: relative;
  width: 50vw;
}

.content .left {
  z-index: 9995;
  padding: 70px;
  font-size: 40px;
}

.content .right {
  padding-right: 70px;
}

.content .center {
  margin: auto;
}

.left h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: .8rem;
}

.left h3 {
  font-weight: 500;
  font-size: 50px;
}

#top .left {
  margin: auto;
  margin-left: 3vw;
}

#top .left a {
  display: block;
}

#top .left h2 {
  font-weight: 400;
  display: inline-block;
  position: relative;
  transition: color ease-in-out .3s;
}

#top .left h2::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  background-color: #000;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

#top .left h2:hover {
  color: #fff;
}

#top .left h2:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

#top .right h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  font-size: 70px;
  font-weight: 700;
}

#skills .charts {
  display: flex;
  height: 170px;
}

#skills .charts span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 26px;
  font-weight: 700;
  border-radius: 50%;
  font-weight: 300;
}

.charts .lang-js {
  background-image: radial-gradient(#f2f2f2 30%, transparent 30%), conic-gradient(#4b7ab1 0% 60%, #efefef 60% 100%);
}

.charts .lang-html {
  background-image: radial-gradient(#f2f2f2 30%, transparent 30%), conic-gradient(#4b7ab1 0% 80%, #efefef 80% 100%);
}

.charts .lang-css {
  background-image: radial-gradient(#f2f2f2 30%, transparent 30%), conic-gradient(#4b7ab1 0% 65%, #efefef 65% 100%);
}
