body {
}
body::before {
  background-image: url('/img/music/art/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 70%;
}

h2 {
  font-size: 35px;
}
h3 {
  font-weight: 400;
  font-size: 30px;
}
h4 {
  font-weight: 500;
}

.top {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}
.top > div {
  width: 50%;
  padding: 5px;
}
.top img {
  aspect-ratio: 1/1;
  width: 100%;
}
.top .right {
  margin: auto;
}
.top a, .interview a {
  color: #21354B;
  font-weight: 500;
  text-shadow: 0 0 5px #fff;
}
.top h1 {
  font-size: 60px;
}
.video {
  overflow: scroll;
  width: 100%;
}
.video > span {
  display: inline-flex;
  overflow: auto;
  width: auto;
}
.video > span > iframe {
  display: inline-block;
}

.about, .list, .video, .interview {
  text-align: justify;
  max-width: 1000px;
  padding: 10px;
  margin: auto;
}

.video .content {
  display: flex;
}
